@keyframes selected-poster-fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes selected-poster-fade-in {
  100% {
    mix-blend-mode: normal;
  }
}
/* ::view-transition-old(var(--posterViewTransitionName)) */
/* TODO probar esto en styled components */
/* ::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 2s;
} */
::view-transition-image-pair(root) {
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}

::view-transition-group(*) {
  animation-duration: 0.44s;
  animation-timing-function: ease-in-out;
}
/* ::view-transition-group(poster) {
  animation-duration: 0.3s;
} */

::view-transition-old(poster) {
  animation: selected-poster-fade-out 0.44s ease-in-out;
}
::view-transition-new(poster) {
  animation: selected-poster-fade-in 0.44s ease-in-out;
}
