:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkitfont-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --mob-responsive-poster-top: 10vh;
  --header-height: 72px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  /* min-height: calc(100vh - var(--header-height)); */
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--main-bg-color);
}

.light {
  --main-bg-color: rgb(226, 226, 226);
  --box-bg-color: rgb(255, 255, 255);
  --box-transparent-bg-color: #ffffff8f;
  --text-color: rgb(30, 30, 30);
  --secondary-text-color: #525252;
  --filter-brightness: 1;
}

.dark {
  --main-bg-color: rgb(30, 30, 30);
  --box-bg-color: rgb(53, 53, 53);
  --box-transparent-bg-color: #2020208f;
  --text-color: rgb(226, 226, 226);
  --secondary-text-color: #b3b3b3;
  --filter-brightness: 0.65;
}
